
.main-signup{
    display: flex;
    justify-content:center;
    align-items:center;
}
.signup-form{
    width:200px;
    display: flex;
    flex-direction: column;

}
.signup-form label{
    display:flex;
    flex-direction: column;
}
